.user-pic-preview{
  width: 96%;
  min-height: 300px;
  line-height: 300px;
  border: 1px dashed rgb(190, 189, 189);
  margin: 10px;
  position: relative;
}
.user-pic-preview > img{
  margin: auto;
  vertical-align: middle;
}
.user-pic-upload{
  width: 300px;
  margin-left: calc(50% - 84px);
}
.user-old-pics-select{
  margin-top: 20px;
  position: relative;
} 
.user-old-pics-select .loading-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(68, 67, 67, 0.8);
  z-index: 1;
} 
.user-old-pics-select .option{
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  padding: 1px;
} 
