.post-description{
  resize: none;
  overflow: hidden;
}

.post-image-container{
  width: 100px;
  height: 100px;
  border: 1px dashed rgb(190, 189, 189);
  position: relative;
}

.post-image-upload{
  opacity: 0;
}

.post-image-overlay{
  position: absolute;
  background-color: rgb(226, 226, 226);
}

.post-image-container:hover > .post-image-overlay{
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: rgb(75, 74, 74, 0.8);
=======
  background-color: rgb(75, 74, 74);
>>>>>>> cb1dc93... Design post form
=======
  background-color: rgb(75, 74, 74, 0.8);
>>>>>>> 243be1d... add submit button to post form
  z-index: 1;
}
.post-image-container:hover > .post-image-overlay > .post-image-icon{
  color: rgb(226, 226, 226);
} 