.header-content {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets//media/logout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.header-content .header-content-inner hr {
  margin: 30px auto;
}
.header-content .header-content-inner p {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
}
.header-content .header-content-inner .homepage-navigation{
  width: 100%;
  max-width: 300px;
  margin: auto;
}